.error{
    border: red 1px solid;
}
.error-message{
    color: red;
}
.active-filter{
    background: #d2cece;
    border: 1px solid black;
    border-radius: 0.9px;
}
.is-Done{
    opacity: 0.5;
}

